<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>Welcome to your Main page!!!!!!!!!!!!!!</h2>
<ul>
    <li><a href="{{ url_for('autoindex') }}">See your files master!</a></li>

    <li><a href="{{ url_for('upload_file') }}">Do you want to upload you files, master?</a></li>

    <li><a href="{{ url_for('logout') }}">GoodBye master!</a></li>
</ul>
</body>
</html>
